[2022-06-27 00:09] sarayourfriend commented on #692
Is it because we're checking that the event is a pull_request? Isn't that check redundant to the configuration of the workflow itself? Based on the [advice given the GitHub support forums](https://github.community/t/stop-github-actions-running-on-a-fork/17965/2) it seems like just checking that the repository name is `WordPress/openverse*` should be enough (though that thread says nothing of depen

[2022-06-27 05:39] sarayourfriend commented on #758
I think we can remove the proxy branch altogether now, but someone else from @WordPress/openverse-maintainers should confirm that.

[2022-06-27 14:44] obulat commented on #615
I wonder if it would make sense to have the following columns:
- `playable_audio` - this can be either the main, highest quality audio, or, if it can't be played by our front end without authentication, some preview file that can. So, it will be the `hq mp3` preview for Freesound, and the main files for Wikimedia and Jamendo. The main criteria for this file is playability without auth. I'm not sur

[2022-06-27 14:49] obulat commented on #758
Ingestion server is the service that initializes the process of `ingestion`, when we get the data from the Catalog database into the database that is used by the API.

[2022-06-27 19:54] zackkrida commented on #654
I have another, silly question that I'd love folks opinion on. If this is currently true:

How would we feel if _the inverse_ was true?

Would that be preferable for any reason? If that was an extremely small change to make, for example, but provided any level of benefit, it might be a good first step.

[2022-06-27 20:43] aod-123 commented on #770
@sarayourfriend It could be a default value that's just coming through? Might there be any plans for having longer expiration times on the tokens? Or potentially changing it to at least every 12/24 hours or so instead of the 10? For now, I'll need to update our project to refetch a token (authenticate) every ten hours or when a 401 is received. We originally implemented when CC was handling the pr

[2022-06-27 20:43] sarayourfriend commented on #654
That's kind of what I'm getting at too, Zack. I don't think the right solution to this is to just call `.reverse()` on the ES index :stuck_out_tongue: If we're unhappy with the current ordering (and we all are) then we need to start thinking about what we want to feed into our scores for each document so ES knows what we want from it.

[2022-06-27 21:03] aod-123 opened #773 "Update the auth token expiry to be 12 or 24 hours"
## Problem
Currently the token returned from the auth_tokens/token route returns a token that expires in 10 hours. To make this a little more consistent with typical CRON scheduling it would be more ideal for this expiry to be 12 or 24 hours.

## Description
Updating the auth token expires_in time would allow for more consistent CRON scheduling and most users would more typically expect it to expi

[2022-06-28 21:30] raghuvar-arora-au2 commented on #654
Hi @sarayourfriend, I have a few temporary mitigations schemes in mind, although I'm not sure if they are even feasible
1) We can give a higher score to records from sources that are relatively modern. Check the example given by @AetherUnbound in the Description.
2) I'm yet to look into the crawler, but if it has been crawling only through the recent uploads lately, we can boost the score by their

[2022-06-28 21:41] raghuvar-arora-au2 commented on #758
Thanks for clearing the confusion.

[2022-06-28 22:00] sarayourfriend opened #775 "Add additional logging around search_controller's ES query building"
## Problem

Currently we only log the query itself, but not the process that led to the query being constructed. We are seeing queries get sent with sizes of up to 1800 but have no way of telling why 1800 was chosen for the size.

## Description

Add logging to the `_get_query_slice` method. Log at each branch and be sure to log the variables that lead to each branch as well. The idea is to log as

[2022-06-29 04:05] sarayourfriend commented on #692
I wonder why the recommended approach doesn't work though?

[2022-06-29 08:07] #740 closed

[2022-06-30 03:48] dhruvkb commented on #692
@sarayourfriend from my understanding, the support forum question was to prevent GitHub Actions defined in the upstream from running on a fork. But when a PR from the fork is made to the upstream repo, the PRs are running in the upstream context so the condition evaluates to `true`. In such a case we need to check if the PR head is also part of the upstream repo (as we did in the frontend).

[2022-06-30 03:54] sarayourfriend commented on #692
I see! Thanks for explaining. It's strange that the way to do this is so obtuse :thinking:

[2022-06-30 05:55] sarayourfriend commented on #770
For this part, we need to update the `DEFAULT_FROM_EMAIL` environment variable to follow the `NAME <EMAIL>` format: https://stackoverflow.com/a/2112818

[2022-06-30 19:43] #615 closed

[2022-07-03 04:08] raghuvar-arora-au2 commented on #654
@sarayourfriend Do you want me to try and implement one of the solutions?

[2022-07-03 04:10] raghuvar-arora-au2 commented on #773
Can I work on this?

[2022-07-03 07:26] #758 closed

[2022-07-03 22:59] sarayourfriend commented on #773
Yes please @raghuvar-arora-au2! I've assigned the issue to you. Thank you!!

[2022-07-03 23:16] sarayourfriend commented on #654
I'm not sure that we can jump into implementation on this issue yet @raghuvar-arora-au2. To @zackkrida's point, simply favoring more recent results isn't guaranteed to improve relevancy for all or even a majority of searches. If you check out the discussion in https://github.com/WordPress/openverse-catalog/issues/490, I think they're intimately related. If you want to work on improving the search

[2022-07-05 15:49] zackkrida commented on #17
@WordPress/openverse we _have_ a timeout on this endpoint now, don't we?

[2022-07-06 16:21] krysal commented on #17
Yes, we have it. Related to #630 and #756.

[2022-07-06 16:21] #17 closed, assigned to nobody

[2022-07-06 18:27] #770 closed

[2022-07-10 09:24] raghuvar-arora-au2 commented on #701
@sarayourfriend  I believe, it largely depends upon the type of service that you have in mind. Do we wanna limit the spell-check to 1) standard words, OR 2) everything that is indexed in ES (that inlcudes things like names)?
if we are only looking to spell-check standard words, then spinning-up a microservice does not even make sense, while there are easier ways (hunspell) out there to get it done

[2022-07-10 17:37] sarayourfriend commented on #701
Given the localization issues, would spell-checking against the index yield better results? I think it would, even if we didn't catch _every_ misspelling. The experience when you have no results is sad whether a misspelling exists or not. I don't think that it would necessarily improve the experience for a user if they searched for a slightly misspelled term with zero results, then get a suggestio

[2022-07-10 23:49] raghuvar-arora-au2 commented on #701
Yeah, using ES suggest-API should be pretty startightforward if we decide to ignore localization.

[2022-07-10 23:54] raghuvar-arora-au2 commented on #654
I had been doing a bit of reading, and found that temporal signals does play a role in real-time search engines. Although, I don't have anything concrete to put into an RFC, but I'll let you know once I do.

[2022-07-11 00:49] sarayourfriend commented on #654
Awesome! As you find helpful resources please feel free to share them here :rocket:

I suppose this might be an foundational question for us to ask, whether Openverse is a real-time search engine :thinking:

[2022-07-11 16:35] sarayourfriend commented on #585
I've just realized that the "enhanced" token scope are already completely exempt from rate limiting :facepalm:

https://github.com/WordPress/openverse-api/blob/ce335722fe24ab574b463e227b965eab85621d43/api/catalog/api/utils/throttle.py#L74-L75

You can test this locally by doing the following:

1. Enable throttling locally by setting `DISABLE_GLOBAL_THROTTLING` to `False`
2. Confirm that you get th

[2022-07-11 22:44] AetherUnbound opened #791 "Run `just init` as part of `just recreate`"
## Description

Presently, when the stack needs to be recreated we need to `just recreate` and then `just init`. I can't think of a situation where we'd want to recreate the stack and _not_ run `init`, and I keep running into issues where I run `just recreate` assuming everything is ready only to have a step like `just api-test` fail because things aren't initialized yet.

What do y'all think? Doe

[2022-07-12 02:03] Aditya-Tripuraneni commented on #791
I would like to take on this issue. Can someone guide me to taking this on? I am a bit new but would still love to help as much as possible.

[2022-07-12 03:42] sarayourfriend commented on #791
Heya @Aditya-Tripuraneni, sure thing!

The first step would be to familiarize yourself [with the tool `just`](https://github.com/casey/just/) that we use as a command runner. The documentation for it is extensive with lots of examples.

Then take a look at this projects [`justfile`](https://github.com/WordPress/openverse-api/blob/main/justfile) in your local environment and figure out how to add `

[2022-07-12 18:31] sarayourfriend commented on #775
Fixed by https://github.com/WordPress/openverse-api/pull/777

[2022-07-13 12:40] sarayourfriend opened #798 "Make `ALLOWED_HOSTS` configurable via environment"
## Problem

Certain environments should be able to have more relaxed or expansive allowed hosts rules (like allowing local env to receive requests from other docker networks through `host.docker.internal` or the like). Likewise, alternative deployments of the Openverse API would have to manually change this anyway because we currently hard code our `openverse.engineering` addresses.

## Descriptio

[2022-07-14 02:13] #773 closed

[2022-07-14 14:50] #729 closed

[2022-07-14 15:40] #798 closed

[2022-07-15 21:44] krysal opened #803 "Cleanup the main README"
## Problem

Reported partially by @AetherUnbound:

I'll add to remove the "Troubleshooting" section from there as it's present alongside the instructions to [run the project](https://wordpress.github.io/openverse-api/guides/quickstart.html), which makes more sense. We should move the diagram there too, feel out of place right now, IMO.

## Implementation

- [ ] 🙋 I would be interested in implement

[2022-07-19 15:29] dhruvkb commented on #715
#802 should reduce the flakiness in our CI by retrying ingestion if it unexpectedly stops but the real cause and the proper solution for this issue are yet to be found.

[2022-07-20 17:51] AetherUnbound opened #807 "Related media view returns 500"
## Description

It would appear that the related media page on `main` is returning 500s, here's the exception I get when visiting a `related_url` on `main`:

[code]

On first glance it looks like this might have been introduced in #790

## Reproduction

1. `just up`
2. Visit http://localhost:8000/v1/images/?q=car
3. Click on the `related_url` for a result
4. See error.

## Additional context

## R

[2022-07-20 17:57] sarayourfriend commented on #807
Ah! I swore I had squashed all those.

Why do the integration tests not catch this, I wonder?

To fix this we need to call `as_dict` on the `Hit` object.

[2022-07-20 21:32] AetherUnbound opened #809 "Use domain in primary API docs README"
## Description

Currently we have the `AUDIO_REQ_ORIGIN` environment variable available which will modify the string used for the API in various examples:
- Image responses: https://github.com/WordPress/openverse-api/blob/9b7c0bd74da3ff48e433c60b566b52bc48f7ce91/api/catalog/api/examples/image_responses.py#L4
- Image requests: https://github.com/WordPress/openverse-api/blob/9b7c0bd74da3ff48e433c60b

[2022-07-21 00:42] #585 closed

[2022-07-21 13:04] #807 closed

[2022-07-21 13:51] sarayourfriend opened #811 "Prevent divergent migrations from being merged by concurrent, not-rebased PRs"
## Problem

See https://github.com/WordPress/openverse-api/pull/810 and the description for the issue.

## Description

We need some way to prevent this.

Here are some suggestions I left in this comment, copied below: https://github.com/WordPress/openverse-api/pull/810#issuecomment-1191503799

Marked as high due to the risk it introduces.

## Implementation

- [ ] 🙋 I would be interested in imple

[2022-07-21 13:53] dhruvkb opened #812 "Ensure PRs involving migrations are updated against `main`"
## Problem

PRs that involve migrations can pass CI and get merged but then reveal conflicting migrations. This is because two migration trees might be valid individually but invalid when merged.

Eg:

**`main`:**
[code]

**PR:**
[code]

**Merged:**
[code]

## Description

This can be resolved with the addition of an empty "merge" migration but those can be avoided if the PR is rebased against `ma

[2022-07-21 13:54] dhruvkb commented on #812
Closing as a duplicate of #811.

[2022-07-21 13:54] #812 closed

[2022-07-21 13:55] dhruvkb commented on #811
Referencing #812 (duplicate) as an alternative way to phrase the issue.

[2022-07-21 15:50] sarayourfriend opened #813 "Add staging thumbnails redeployment to imaginary build workflow"
## Problem

We need to be able to easily redeploy imaginary once we've rebuilt a new version of it.

## Description

Import the workflow generated by Terraform into the repository and add it to the imaginary build workflow.

## Implementation

- [ ] 🙋 I would be interested in implementing this feature.

[2022-07-23 07:40] ritesh-pandey commented on #791
@Aditya-Tripuraneni Are you still working on this issue? If not, I would like contribute.

[2022-07-25 12:40] sarayourfriend opened #817 "Stop ballooning gh-pages branch"
## Description

See https://github.com/WordPress/openverse-frontend/pull/1574 for context.

The same fix needs to be applied in this repository.

## Resolution

- [ ] 🙋 I would be interested in resolving this bug.

[2022-07-25 16:18] #759 closed

[2022-07-25 17:37] ritesh-pandey commented on #811
Can I add something to the discussion?

Can we say that in an ideal migration tree, there should be only one leaf node?

If yes, we should think of running automated tests which detect this. Wring a custom Django command can be one way to achieve this.

A Django command which checks for the state of migration graph. If the command finds more than one leaf node, it exits with a certain exit code. T

[2022-07-25 20:30] sarayourfriend commented on #811
That's correct. I think our existing CI checks will do that already, save for the fact that they need to be run against a rebased version of the branch for them to detect the fact that a branch will merge in a second branch of migations. This happens when two people open branches that independently add migrations with the same number and then merge them sequentially without rebasing the second bra

[2022-07-26 07:29] dhruvkb commented on #811
Adding more context, GitHub has a built-in feature to ensure branches are up-to-date before they can be merged (it's a checkbox called "Require branches to be up to date before merging" under branch protection rules) but it's either all-in (which can be annoying for safe branches) or switched off (which brings us to this issue).

[2022-07-26 12:31] sarayourfriend commented on #811
The require branches to be up-to-date before merging is useful but it is kind of annoying and a bit of a kludge in that it enforces that universally. Even if you just update a markdown document, you'd have to rebase your branch if `main` changed and wait for CI to run all over again :confused: Of course, we could also optimize CI to only change when certain files change, but that's yet another iss

[2022-07-26 12:32] #813 closed

[2022-07-26 12:52] dhruvkb commented on #811
The synchronize event is only fired when commits are pushed to a PR. It's also the default activity type for workflows running on PRs (see first "Note" in [this section](https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#pull_request)). It might not be the right event to watch for (as that's where we are right now).

[2022-07-26 12:59] sarayourfriend commented on #811
That's the `pull_request` event. I'm suggesting using the `pull_request_target` event which runs when the PR's target or base branch is updated, unless I've misunderstood that event trigger.

[2022-07-26 18:31] sarayourfriend opened #820 "Fix docker generated file permissions"
## Description

When docker runs as root and creates files on a mounted volume, those files will have `root:root` permissions and will not be able to be modified or deleted by a regular user on the computer. See https://github.com/WordPress/openverse-api/runs/7526184802?check_suite_focus=true for example.

We can fix the permissions by running as a non-root user. See how this is done for the front

[2022-07-26 20:21] sarayourfriend opened #821 "Add nginx to the API multi-stage Dockerfile"
## Problem

For the ECS deployment of the frontend, we need to be able to deploy a Django and an Nginx image. To reduce the time it takes for the Django image to go from running to ready and to reduce the complexity of the deployment, we want to front load as much work as possible into the build.

Currently, the API deployment is complicated by the following:

1. `collectstatic` run in Django cont

[2022-07-27 22:15] krysal opened #826 "User-Agent setting needed for Wikimedia watermarked images"
## Sentry link

https://sentry.io/share/issue/699d8b5534e34b03a0dd721e32cbc7b9/

## Description

Wikimedia images requests fail at `v1/images/{identifier}/watermark/` endpoint due to Wikimedia's policies. Sentry shows:

So we cannot get the image in the API, and the below function fails; therefore, the request to the endpoint fails (500 error). Sentry shows that this is a new issue.

https://githu

[2022-07-28 07:35] dhruvkb commented on #826
To be fair, watermarked is a deprecated (and to the best of my understanding, unused) API. If we could, I'd prefer to delete that code entirely instead of fixing and maintaining it.

[2022-07-28 19:59] krysal commented on #826
Sounds fair, though I don't know if we can say it's unused given the number of occurrences of the event.

![CleanShot 2022-07-28 at 15 57 02@2x](https://user-images.githubusercontent.com/9145885/181626349-f9f72570-357e-459b-9522-0dec43f48f99.png)

And this error is only with Wikimedia, more people might be using this feature. @WordPress/openverse-maintainers what do you think?

[2022-07-28 21:19] krysal opened #827 "Unhandled value out of range"
## Sentry link

https://sentry.io/share/issue/7dd836d27daa41dfa59dfbdf39a40d51/

## Description

We need to capture and handle this error to avoid returning a 500 error in the link below.

Originates from this fragment of code:

https://github.com/WordPress/openverse-api/blob/81b7860e2662f4b135919da0728eea194f15c260/api/catalog/api/views/image_views.py#L125-L130

## Reproduction

1. Go to https://

[2022-07-29 04:34] dhruvkb opened #828 "Loop code is always running ingestion for images thrice"
## Description

The code to rerun ingestion for images if it fails, added in #802 is broken. It's running the image ingestion three times in what seems to be a Bash code bug.

## Log

[code]

## Additional context

It might be a good idea to replace the Bash script with Python as it's generally a much friendly language to write scripts in. It might help reduce the occurrence of bugs.

## Resolutio

[2022-07-29 11:50] sarayourfriend commented on #828
Not just that, we could actually easily write unit tests against it!

[2022-08-01 09:42] ritesh-pandey commented on #725
There are two tasks here.

1. Enhancing log
Do we have a one to one mapping between ES index and media types? If yes, we can use ES index name in log for identifying database table.

2. Refactor `validate_images` module
Refactor validate_image module to include audio files as well. We can use `validate_media` as a better module name and make it more generic.

[2022-08-01 12:30] obulat commented on #791
@ritesh-pandey, are you still interested in this issue? I'm assigning it to you because there has been no activity for more than 7 days. Please, feel free to un-assign yourself if you are not available or interested.

[2022-08-01 16:21] krysal commented on #821
@rbadillap did some work related to this in the [`feat/init-to-dockerfile`](https://github.com/WordPress/openverse-api/commit/3b626270565ef7b3c2d3339e6cf493c6ce594b34) branch from which we could recover something.

[2022-08-01 17:57] sarayourfriend commented on #821
I don't know what Ronny's plan was in that branch, really :confused:. The only thing that looks like it might be useful is the Nginx configuration, but it's probably wiser to copy the one from the infrastructure repo as it is today, just in case things have changed there.

The docker-compose changes are completely unnecessary as we will not be using docker-compose to deploy the API in ECS and the

[2022-08-01 17:59] #817 closed

[2022-08-01 18:14] #791 closed

[2022-08-01 18:34] rbadillap commented on #821
Hi @sarayourfriend @krysal !

Initially, the branch was created with the purpose of replacing the `init.tpl` file, which is a file that is executed when the instance is created, which generates little traceability of the events and inability to obtain timely information about something that has failed.
At the time, we considered creating an API docker image and generating new tags each time a rele

[2022-08-01 18:42] sarayourfriend commented on #821
Great, thanks Ronny. I think we just need to add a new step to the existing Dockerfile to produce the nginx image. If we want to add nginx to the local docker-compose as an additional service that would be a way to test it more easily. I don't think we need to go further than that right now.

[2022-08-02 05:13] dhruvkb commented on #715
^ Accidental click.

[2022-08-02 12:54] sarayourfriend commented on #483
@WordPress/openverse-maintainers can we re-prioritize this issue to at least 404 the watermark endpoint?

If we want to build a new feature out of the watermark features (which seems good) let's do that in a separate issue.

[2022-08-02 13:03] sarayourfriend opened #843 "Remove `get_api_exception` and replace with built in DRF exceptions"
## Description

The bespoke `get_api_exception` function recreates built in DRF functionality and makes searching for particular exceptions more difficult. Instead of searching for `raise NotFound` or `raise <built-in-DRF-exception>`, the typical way to find code that explicitly raises exceptions, you'd have to know about the `get_api_exception` function and search for usages with the specific HTT

[2022-08-02 21:46] AbhiYHub commented on #843
Hello @sarayourfriend, I am new to open source and I would like to work on this.

[2022-08-02 22:08] sarayourfriend commented on #843
Hi @AbhiYHub! That's great, thank you for your willingness to contribute :slightly_smiling_face: I've assigned the issue to you. If you have any questions here or run into issues during implementation, please feel free to ping me or `@WordPress/openverse-maintainers` for help.

[2022-08-03 12:31] sarayourfriend opened #845 "`MEDIA_INDEX_MAPPING` not retrievable from settings"
## Sentry link

https://sentry.io/share/issue/43ef4374b5b142868bca159d47506bb3/

## Description

https://github.com/WordPress/openverse-api/blob/419082f155372ee05bdc5c4261feea06906eb49f/api/catalog/settings.py#L21

Something isn't working in this line. It is causing the settings object not to include `MEDIA_INDEX_MAPPING`.

Introduced in https://github.com/WordPress/openverse-api/pull/712

## Sugg

[2022-08-03 12:33] sarayourfriend commented on #845
I suggest reverting the ES configuration refactors to keep only the existing large scale refactors in the current deploy. We're trying to do too much in a single version change and we already have risky changes. If we can cut out some of these refactors to isolate only the changes necessary to be able to debug production ES CPU usage (which we've been blocked on for several weeks due to another bi

[2022-08-03 13:17] zackkrida commented on #845
Did we set the environment variables used by this PR in the staging environment?

[code]

Perhaps if not, the error with the code is setting the _default value_ and by passing these it would work.

[2022-08-03 13:20] sarayourfriend commented on #845
To clarify where this is happening, by the way, because it's non-obvious from Sentry due to misconfiguration causing it to show the `local` environment.

Unless someone is actually causing this error locally, it can only be happening in staging API because production doesn't have this code yet.

[2022-08-03 13:33] krysal commented on #845
@zackkrida No, the two environment variables added in the staging deployment were only `LOG_LEVEL` and `ALLOWED_HOSTS` [[Ref](https://github.com/WordPress/openverse-infrastructure/pull/166/files#diff-af38c03926a84ad7d785e8e95d033917e338220de291b87ffd8ff0407e8aa352)].

[2022-08-03 14:14] dhruvkb commented on #845
I'm unable to reproduce this locally on a fresh copy on `main`. It's very hard to see why this would raise errors in staging but work normally on a local copy.

[2022-08-03 15:21] AetherUnbound commented on #845
While we don't have the sentry alerts separated by environment (to-be-deployed), I cross-referenced a few of the pieces of this alert against others.

1. The breadcrumb for an earlier ES hit points to `es:9200`, which is the URL we use in the local development stack. In production, this is `http://openverse-elasticsearch-prod.private:9200`
![image](https://user-images.githubusercontent.com/1021478

[2022-08-03 17:18] zackkrida commented on #845
Closing due to irreproducibility.

[2022-08-03 17:18] #845 closed

[2022-08-04 15:10] sarayourfriend opened #847 "Thumbnail endpoint returns 500 if the upstream image URL 404s"
## Description

I was looking through production logs to see where some 500 errors were coming from and I found a handful of logs that look like this:

Field | Value
-- | --
`@ingestionTime` | 1659625225674
`@log` | 140733703834:/prod/api/nginx
`@logStream` | i-05a7072edd44e97d9
`@timestamp` | 1659625221900
body_bytes_sent | 66
host_header | api.openverse.engineering
http_referrer | https://search

[2022-08-04 15:31] sarayourfriend opened #848 "Store dead links in database and expose an API endpoint that the catalog can pull from"
## Problem

Currently we store dead links only in Redis as a cache and periodically re-check the links based on a cache expiration. This means the work to _find_ dead links on the API doesn't get reported back to the catalog for re-checking. We could have a DAG, for example, that pulls dead links from the API and then iterates through them to check the provider's API response for that item and det

[2022-08-04 15:54] sarayourfriend commented on #483
While we wait for someone to update this issue based on the discussion during the weekly dev chat from this week, I will also note that we can easily resolve some issues with this endpoint by adding a try/except around the `exif.dump` line in the endpoint to prevent errors like this one: https://sentry.io/share/issue/a80d52de7f89436586ed0250cd0a32d2/

[2022-08-04 15:56] sarayourfriend opened #849 "`piexif.dump` errors are not safely handled"
## Sentry link

https://sentry.io/share/issue/a80d52de7f89436586ed0250cd0a32d2/

## Description

The call to `piexif.dump` should be wrapped in a `try/except` to prevent these errors in the watermark endpoint.

## Reproduction

Visit https://api-dev.openverse.engineering/v1/images/a913fde1-d524-4059-bd4f-9bd687578cc3/watermark/ to see an example of this failure.

[2022-08-04 18:29] AetherUnbound commented on #848
This is a great idea! The catalog could potentially pull from Redis ([as there's an associated provider](https://airflow.apache.org/docs/apache-airflow-providers-redis/stable/_api/airflow/providers/redis/hooks/redis/index.html)). If the cache is a TTL though, it'd be better to have a more permanent record in the database. And we already have connections to the API database from Airflow, so we woul

[2022-08-05 15:08] sarayourfriend opened #853 "Run black before flake8 in pre-commit"
## Problem

We run flake8 before black. This means flake8 will spit out a bunch of errors that black is about to fix anyway, meaning the first run of a lint that includes non-fixable changes will be muddied and hard to wade through due to no longer valid changes. Worse, line numbers could be changing as well if black is correcting issues in modules that also have other flake8 problems.

## Descrip

[2022-08-05 15:34] sarayourfriend opened #854 "Remove Sentry DSN from repository"
## Problem

If someone configures their local environment correctly, they can send scary (and hard to discern) errors to Sentry that we can easily mistake for production issues. It's not likely that anyone is doing this intentionally (what do they stand to gain, other than trolling, I suppose) but it is easy to do accidentally (just turn off the Django DEBUG setting).

## Description

Let's just r

[2022-08-05 18:01] sarayourfriend opened #855 "Only fill in pages if at least one link from first page is not dead"
## Problem

If we make a request to ES for 20 items and find that any of them are dead, we attempt to "fill the page in" with subsequent "deeper page" queries. If _all_ the links for a query are dead, this means we will slam ES with tons of fast queries to try to fill in the page.

## Description

Kudos @obulat for the idea. We should not try to fill pages if all of the links on the first page are

[2022-08-05 18:02] sarayourfriend opened #856 "Record dead link stats in a queryable way"
## Problem

We do not have insights into dead link rates for providers or certain queries.

## Description

Lets store dead link stats in the database or mark them somehow in the database such that they are queryable. Related to #848.

## Implementation

- [ ] 🙋 I would be interested in implementing this feature.

[2022-08-05 18:08] AetherUnbound commented on #855
Some relevant discussion here: https://github.com/cc-archive/cccatalog-api/issues/565

[2022-08-05 18:19] zackkrida opened #857 "Limit page depth of searches"
## Problem

As a temporary fix for some performance issues with the Openverse API, we should cap the max page depth to `20`. This means that if a search had 40 pages of results users would still be limited to accessing pages 1-20.

## Description

This prevents the scenario described here https://github.com/cc-archive/cccatalog-api/issues/565, which has become an increasing problem with the number

[2022-08-08 11:47] #853 closed

[2022-08-08 15:01] #854 closed

[2022-08-08 15:05] krysal commented on #820
Rising to high priority🔺 because it's making our CI pipeline fail.

[2022-08-08 19:09] AetherUnbound commented on #849
Closing this in favor of #827, as both Sentry errors are manifestations of the same issue. I'll also merge the Sentry issues together.

[2022-08-08 19:24] zackkrida opened #863 "Adjust throttling of thumbnail endpoints"
## Problem

Currently thumbnail requests are throttled at a rate of one thousand per minute:

https://github.com/WordPress/openverse-api/blob/e9cfd3cc705c573e3f6ab2b632737e94bb82aee0/api/catalog/api/views/image_views.py#L96

When used by unauthenticated users making requests rapidly, as is common in scraping workflows, this can potentially send a lot of traffic to our API partners which may lead t

[2022-08-08 23:10] #857 closed

[2022-08-09 11:54] sarayourfriend opened #866 "Thumbnail tests make actual upstream provider requests instead of using mocked image responses"
## Description

If the upstream provider (in the case of our current test configuration, Flickr) returns an error, then our tests will fail regardless of whether anything actually changed to make them fail. Right now Flickr is returning 503 and this causes the tests to fail.

## Reproduction

1.  Mock the `url` value of an image that the thumbnail is requested with `https://httpbin.org/status/503`

[2022-08-09 13:52] obulat opened #867 "Increase the dead links cache expiration timeout"
## Problem

Currently, every front-end search results in requesting the provider image URL (the direct URL) twice: once for the API dead links filtering and once for the thumbnail generation.
The thumbnails are cached for a period of around a year (to be confirmed), and the link validation cache expires after 24 hours for active links and 120 days for broken links. This means we're re-requesting p

[2022-08-09 14:12] obulat commented on #848
I listened to a [podcast](https://soundcloud.com/esc-podcast/guy-royse-redis-beyond-the-cache?si=2792f53314ad44569e0e2a7608508615&utm_source=clipboard&utm_medium=text&utm_campaign=social_sharing) about using Redis for more than just cache and was going to suggest pulling directly from Redis while reading the issue description.

We could make the cache for statuses such as 404 or 301 persistent so

[2022-08-09 14:13] sarayourfriend commented on #867
If we did this then the API would need to create an access token for itself to use, just a heads up. Otherwise the API would be rate limiting itself :slightly_smiling_face:

[2022-08-09 14:16] sarayourfriend commented on #848
Another thing we could do if we wanted to persist them in Redis without changing too much is create a `valid:history:` prefix that gets a record inserted with status and date each time it is retrieved for a given result url.

Then yeah, Airflow could pull directly from Redis and be getting a full history of the dead links! That would be sweet.

The only issue though is that Redis does not allow qu

[2022-08-09 14:20] zackkrida commented on #867
One year is correct for the thumbnails:

![CleanShot 2022-08-09 at 10 19 04@2x](https://user-images.githubusercontent.com/6351754/183673043-662d03f2-ecd6-48df-915e-6edd60fac2be.png)

The cache-control max age is 31536000 seconds, or 365 days (31536000s / 60s / 60m / 24hrs).

[2022-08-09 15:04] sarayourfriend commented on #867
Been thinking about this a bit. Have some thoughts and complications:

1. Thumbnail proxy does not solve the problem for audio, but the same process is followed for audio (requesting upstream `url` and using response status code to determine liveness of the result). Audio does use the thumbnail proxy but for the artwork. Audio link liveness check uses the actual result url, not the upstream `thumb

[2022-08-09 15:20] obulat commented on #867
I believe that increasing the TTL of the 'live' links to 1 week (or 1 month?) together with #856 and further work on the catalog side would be better solution than using the Cloudflare cache.

The thumbnail cache would probably not allow us to fully develop #856 because we wouldn't get the status code of the actual request.

[2022-08-09 15:38] sarayourfriend commented on #483
I'm writing the update, given no one else has done so yet.

When thinking about this issue: please keep in mind that if an endpoint exists on a versioned prefix then we have effectively cemented the existence of that endpoint. If we wish to break this contract, then we may do so, but I would ask that we do so with careful consideration and not just to get out of having to fix some issues that appe

[2022-08-09 15:54] sarayourfriend commented on #867
Sounds great Olga. If we could make them configurable as environment variables that would be excellent too and allow us to tweak things if we notice issues.

Additionally, if we do this, I think we should also update the frontend to more explicitly report when dead links are found on the _frontend_ itself. This will reveal the rate of discrepancy: https://github.com/WordPress/openverse-frontend/bl

[2022-08-09 16:02] #828 closed

[2022-08-09 16:10] zackkrida commented on #867
Hmm, would there be a reason to add "broken image reporting" to our frontend user reporting form, as well as adding some functionality in the API reporting endpoint? Perhaps our frontend code could call that endpoint in the part of the code Sara linked.

We'd also have the opportunity to let users report images that appear broken. I don't know if that would be used much, though, or if it would jus

[2022-08-09 18:21] sarayourfriend commented on #867
Maybe... but we don't handle the information gathered from those endpoints well at all now. Adding new data there may be counter productive. I'm not sure. I mostly want us to be able to sort of query the ratio of links we reported as live (returned from the API) but then end up not working on the client side. I don't know how to do this safely though.

[2022-08-10 13:25] sarayourfriend commented on #486
@samajain Did you get a chance to look into this?

Given Django's recent release of 4.2 adding async to the ORM, I think it is a good time to start planning a switch over to the async Django API. I don't think this will be a trivial change to do correctly and I don't know if it can be done in stages. Would it be detrimental, for example, to delay switching to async Redis and Elasticsearch clients

[2022-08-10 14:18] #855 closed

[2022-08-10 19:47] AetherUnbound opened #871 "Unit tests for `_paginate_with_dead_link_mask`"
## Description

Add unit tests for the `_paginate_with_dead_link_mask` function:

https://github.com/WordPress/openverse-api/blob/v2.5.10/api/catalog/api/controllers/search_controller.py#L40

## Additional context

Part of a series of unit test issues (see https://github.com/WordPress/openverse-api/issues/872 & https://github.com/WordPress/openverse-api/issues/873)

## Implementation

- [ ] 🙋 I wo

[2022-08-10 19:50] AetherUnbound opened #872 "Unit tests for `validate_images`"
## Description

Add unit tests for the `validate_images` function:

https://github.com/WordPress/openverse-api/blob/v2.5.10/api/catalog/api/utils/validate_images.py#L21

## Additional context

## Implementation

- [ ] 🙋 I would be interested in implementing this feature.

[2022-08-10 19:52] AetherUnbound opened #873 "Unit tests for `_post_process_results`"
## Description

Add unit tests for the `_post_process_results` function:

https://github.com/WordPress/openverse-api/blob/v2.5.10/api/catalog/api/controllers/search_controller.py#L107

## Additional context

Part of a series of unit test issues (see #871 & #872)

## Implementation

- [ ] 🙋 I would be interested in implementing this feature.

[2022-08-10 20:00] AetherUnbound opened #874 "Start from previous window end in `_post_process_results`"
## Description

Presently, the [`_post_process_results` function](https://github.com/WordPress/openverse-api/blob/v2.5.10/api/catalog/api/controllers/search_controller.py#L107) iterates through the results & filters out dead links, querying Elasticsearch when more results are necessary. While the [`end` of the window is increased on subsequent searches](https://github.com/WordPress/openverse-api/b

[2022-08-12 10:40] sarayourfriend commented on #866
Re-prioritizing this to work on it now because it is causing CI to fail due to inconsistencies in the upstream provider behaviours (which we should not depend on anyway).

[2022-08-12 10:46] sarayourfriend commented on #866
@WordPress/openverse-maintainers I'd like to propose the following solution for this:

1. Add minio to the local docker-compose and add a couple sample images and audio files from it
2. Change all the sample data `url`s to point to the local minio version

Problem with this is that it will make running the app locally outside of docker even more difficult. I think this is fine though, as it's not

[2022-08-12 10:59] sarayourfriend opened #880 "Link liveness validation cannot depend only on status code of item's `url`"
## Description

Validating that an upstream url returns a 200 is apparently not actually sufficient to find dead links. This result is on the first page of cc0 search for "dogs": https://search-production.openverse.engineering/image/8f562c74-432f-47d0-bb68-fff2fdb07a16

Foreign landing URL (404s): https://www.flickr.com/photos/160949630@N04/44980956602
Media item `url` (does not 404): https://live

[2022-08-12 11:32] dhruvkb commented on #866
@sarayourfriend I support this solution. Minio is great and while we do somewhat support running the API outside Docker, we still need the scaffolding services to be provisioned by Docker Compose so adding additional services should be OK.

[2022-08-12 18:16] zackkrida commented on #775
Re-opening for consideration, since some of the logging in #777 had to be reverted while triaging the API stability. Does it make sense to try to reintroduce some of the logging before revisiting the search controller refactor?

[2022-08-12 22:44] #867 closed

[2022-08-13 21:52] ramadanomar opened #881 "Handbook leads to broken link"
## Description

The handbook hyperlink under the banner leads you to a page that doesn't exist

## Screenshots

![Brokenlink](https://user-images.githubusercontent.com/55840806/184511644-604cbd97-b1f9-415e-9de6-07cfb0d93f1b.png)

## Resolution

- [x] 🙋 I would be interested in resolving this bug.
I'll make a PR that removes the link from the README. Should be a quick fix.

[2022-08-15 12:10] sarayourfriend opened #883 "Prevent unique field clashes in unit test model factories"
## Problem

https://github.com/WordPress/openverse-api/runs/7790427928?check_suite_focus=true

This test failed because the `url` property on a factory-generated model was not unique.

## Description

We can use https://factoryboy.readthedocs.io/en/stable/recipes.html#forcing-the-sequence-counter to add an incrementing value to the fields that need to be unique on the factories.

## Additional con

[2022-08-15 12:20] sarayourfriend commented on #883
Reprioritizing as critical because this blocks PRs from merging.

[2022-08-15 14:56] #881 closed

[2022-08-16 00:14] AetherUnbound opened #885 "Rename `validate_images` to `validate_media`"
## Description

The [`validate_images` function/module](https://github.com/WordPress/openverse-api/blob/a26784eddccedafcbfb1f4aa250f22abedd2f1db/api/catalog/api/utils/validate_images.py) is actually used to verify audio results as well as images. This can make the logs confusing, as audio results will show up with logs such as `Image validation failed due to <x>`.

We should rename both the module

[2022-08-16 13:51] sarayourfriend commented on #885
I think this is more or less a duplicate of https://github.com/WordPress/openverse-api/issues/725, isn't it?

[2022-08-16 15:17] #863 closed

[2022-08-16 15:19] #883 closed

[2022-08-16 17:08] #847 closed

[2022-08-16 20:16] AetherUnbound commented on #885
Oops, it is, thanks Sara! Closing this in favor of #725.

[2022-08-16 20:16] #885 closed

[2022-08-16 22:46] AetherUnbound commented on #866
I love the idea of employing minio here! And agreed, I think requiring that the API run inside of Docker is fine in my mind (we're already doing that for the Catalog anyway).

[2022-08-16 23:40] sarayourfriend commented on #866
I am actually sceptical of the current approach and would like to investigate it more. I can see the value in the integration style tests, but given the infrastructural difficulties and the absolute need to define hard boundaries in some areas (like preventing all outbound network requests, maybe through something like HTTPretty or the like) I wonder if it's sufficient to move our sample data into

[2022-08-16 23:44] sarayourfriend commented on #486
I was reading more about Django's async support. It looks like we might be able to relatively easily get off of grequests by using Django's in-depth `async_to_sync` function to run an `async` version of the `validate_images` function.

@WordPress/openverse-maintainers I think we could prioritize this issue higher if someone wanted to try out `async_to_sync` with a regular asyncio HTTP Python libra

[2022-08-16 23:53] AetherUnbound commented on #486
I am all for this!

[2022-08-17 00:00] AetherUnbound commented on #489
Updated public share link: https://sentry.io/share/issue/061ba99fc3df4c23bdb7643d337bbda0/

[2022-08-17 13:02] #820 closed

[2022-08-17 17:34] #826 closed

[2022-08-17 18:16] AetherUnbound commented on #489
We have not seen this issue appear since we released the performance improvements that came alongside [v2.5.10](https://github.com/WordPress/openverse-api/releases/tag/v2.5.10) recently. We believe this was caused by `grequests` & requests to Elasticsearch timing out, which is no longer occurring. Closing this issue for now!

[2022-08-17 18:16] #489 closed

[2022-08-17 18:28] sarayourfriend commented on #489
We do still use grequests and grequests does not make requests to ES. I'm not sure what to make of the relationship implied here. Was grequests somehow being affected by ES time outs? The only relationship I can think of is that because we've reduced the maximum pagination depth we're just making less validation requests overall and therefore utilizing grequests a lot less than before.

[2022-08-17 19:41] AetherUnbound commented on #489
Ah, apologies! Yes that would make sense.

[2022-08-17 20:55] AetherUnbound opened #887 "Data refresh logging steps are out of order"
## Description

The log messages we get from the data refresh now are no longer in the correct order. Here are some examples:

**Previous order**:
![Screenshot_2022-08-17_13-53-00](https://user-images.githubusercontent.com/10214785/185241244-8f461acb-84c7-40c0-967a-e98c875a4f9b.png)

**Current order**:
![Screenshot_2022-08-17_13-53-21](https://user-images.githubusercontent.com/10214785/185241265-7

[2022-08-18 08:06] dhruvkb opened #889 "Increase separation of unit and integration tests"
## Problem

In merged PR #844, we had to remove support for running the API tests on the host because the difference in port numbers inside the container and outside was causing only a subset of tests to pass.

## Description

The integration tests and unit tests for the API server must run in two different contexts. Currently they are both executed in the same Pytest run. The goal is to separate

[2022-08-18 12:27] sarayourfriend commented on #889
I agree with this sentiment in principle but I think it will conflict with other requirements like https://github.com/WordPress/openverse-api/issues/866

I suggested elsewhere that someone actually take a step back and write an API unit testing RFC. I can't find where I wrote about it right now but I wonder what the benefit of our current approach is with sample data in flat CSV files that are han

[2022-08-19 13:22] sarayourfriend commented on #811
Unassigning myself here. The PR linked above adds a warning, but I think we can do better to prevent this by running actual automated checks for migration conflicts. I won't have time to work on this before I go on holiday.

[2022-08-19 13:23] sarayourfriend commented on #775
Agreed, Zack, that we should add the logging back to the search controller.

[2022-08-23 13:31] zackkrida opened #892 "Remove unused numeric throttle classses"
## Problem

As discussed in the comments of #864, we should remove the unused throttle classes `OneThousandPerMinute` and `OnePerSecond`.

## Description

Removing unused code.

## Alternatives

## Additional context

## Implementation

- [ ] 🙋 I would be interested in implementing this feature.

[2022-08-23 16:56] #871 closed

[2022-08-23 19:23] zackkrida commented on #811
Lowering the priority to `medium`, this is important but is an internal improvement that shouldn't block other development.

[2022-08-24 18:08] sarayourfriend opened #893 "UpstreamThumbnailException only raised when there are "ambiguous" problems and not for things outside the 2xx range"
## Description

Requests does not raise an exception if a link 404s, you have to check the status code or call `raise_for_status` on the response.

## Reproduction

1.  See the response from `https://api-dev.openverse.engineering/v1/images/aaabb3e4-cbd9-4a55-b16f-634fd9d91483/thumb/` which should be 424ing is instead 404ing (check the actual status code of the response, not the response contents w

[2022-08-24 18:30] sarayourfriend opened #894 "Error while resending OAuth verification emails"
## Description

We ran the `resendoauthverificationemails` command today. It went fine but one email errored out. We'll want to dig around the data for the oauth applications associated with that email to see what went wrong and then re-run the command again so that it catches them.

## Additional context

This issue is only available for folks with infrastructure access. Ping @WordPress/openverse

[2022-08-24 19:47] stacimc opened #895 "Use smaller image for generating thumbnails for SMK"
## Description

Images linked in the `image_url`s for the SMK provider are all ~2MB. These are large enough to overload our thumbnail service. Some of these requests timeout, such that the frontend falls back to downloading the entire full image. The result is unacceptable load times.

We should update the API to detect the SMK provider and modify the URL used for thumbnail generation.

`image_url

[2022-08-24 19:58] stacimc opened #896 "Use `thumbnail_url` for thumbnail generation when present"
## Problem

Some providers (like SMK) may link to quite large images in their `image_url`. This can cause unacceptably slow response times or even timeouts when generating thumbnails via our thumbnail service.

## Description

We already have a `thumbnail_url` available on the Image model which we can use.

When the `thumbnail_url` is available, we should send this to the thumbnail service instead

[2022-08-26 19:36] sarayourfriend commented on #896
Just a heads-up, the field name in the API right now is just `thumbnail` not `thumbnail_url`: https://github.com/WordPress/openverse-api/blob/2e85caf7aede8aaf9d77cd5cb050f50b860ee58e/api/catalog/api/models/mixins.py#L92

[2022-08-26 19:41] sarayourfriend opened #898 "Potentially disable matches across word boundaries"
## Problem

Right now it seems like our ES query configuration would match `dog` across word boundaries, for example if an indexed field was `__d og__`.

## Description

Look into how to disable this and if it's easy to do and whether it reduces false-positives (not sure how to measure this).

## Implementation

- [ ] 🙋 I would be interested in implementing this feature.

[2022-08-26 19:53] AetherUnbound opened #899 "Move audio thumbnail retrieval into grouped query"
## Description

PR #727 introduced a query which runs for every Audio result and attempts to retrieve the thumbnail associated with the audio record. If no thumbnail is found, it is set to `None` on the API end:

https://github.com/WordPress/openverse-api/blob/5fae4eb89c33f849fd41d2a890057858ec789278/api/catalog/api/serializers/audio_serializers.py#L138-L150

@sarayourfriend had mentioned that it

[2022-08-27 00:13] zackkrida commented on #715
@WordPress/openverse-api have we observed this behavior in the API CI still?

[2022-08-27 01:27] dhruvkb commented on #715
We covered over this problem by repeating the process if it fails (up to 3 retries) so this problem doesn't appear in CI anymore. But the underlying cause has not been fixed. @obulat's PR #839 removes the problematic step and that will fix the problem at the cause.

[2022-08-27 09:58] ramadanomar opened #900 "Broken ReDoc Link"
## Description
qucikstart.md has a broken link to Api Redoc page.

## Screenshots ![image](https://user-images.githubusercontent.com/55840806/187025154-3f6b7800-6d8c-4efb-97f6-e69171e0391d.png)

## Resolution

- [x] 🙋 I would be interested in resolving this bug.

If the ReDoc documentation [is this one](https://api.openverse.engineering/v1/), i'll create a pr to update it. Please lmk if this is an

[2022-08-27 12:32] rwidom commented on #898
Do we ever keep the search terms that people enter or a sample of them? It would be interesting to understand how often people enter typos like "d og watcher" vs "chad ogles the cat sitter".

[2022-08-28 16:57] ramadanomar commented on #900
[Here](https://wordpress.github.io/openverse-api/guides/quickstart.html) the port changed from 8000 to 50280 which no longer points to the docs. I cant find where the doc content is located to edit it. The quickstart.md has the new port (50280). I'll try to look into it and update pr #901
![image](https://user-images.githubusercontent.com/55840806/187085643-5db2e0ab-0ae8-4ff5-8f46-b3eb3fee036b.png

[2022-08-29 08:07] obulat commented on #900
@ramadanomar, thank you for reporting this!

It's an interesting issue. The broken link is actually a screenshot image that is available in the repository.  You can see it load on the Sphinx documentation page here: https://wordpress.github.io/openverse-api/guides/quickstart.html. However, the Sphinx doc page still has the old port information. @dhruvkb, do we need to re-build the docs to update t

[2022-08-29 17:29] AetherUnbound commented on #898
We do not, I don't think we have any analytics presently. That's a great point though!

[2022-08-30 13:12] #827 closed

[2022-08-30 16:30] #710 closed

[2022-09-06 02:47] MustkimKhatik commented on #893
I could work on this, but can one guide me how to do it?

[2022-09-06 11:17] obulat commented on #893
One more (slightly) related problem is that some items saved in the images table are actually audios (issue in the catalog: https://github.com/WordPress/openverse-catalog/issues/18). They return 406 errors when the front end requests a thumbnail.

[2022-09-07 17:25] zackkrida opened #915 "Switch to `MoreLikeThis` class in the search controller"
I noticed that instead of specifying the query type as a string in the earch controller, we can instead import the [`MoreLikeThis` query type](https://elasticsearch-dsl.readthedocs.io/en/latest/search_dsl.html#more-like-this-query) directly for the related image query.

https://github.com/WordPress/openverse-api/blob/a6c959b119f49ce06855293b9f863d776d907a2e/api/catalog/api/controllers/search_contr

[2022-09-08 18:09] krysal opened #917 "Make the waveform peaks optional"
## Problem

We include all the peaks from every audio track that has them previously generated in audio responses (on list & details endpoints). This consumes tons of bytes in network responses and with the default `page_size=20` it can even freeze the browser for a few seconds. Users might not need or want the peaks in every request so making it conditional with a query parameter can improve the

[2022-09-08 18:33] Vidush22 commented on #478
@AetherUnbound ,
I am interested in solving this bug. Kindly consider my request.

[2022-09-08 18:37] Vidush22 commented on #402
@AetherUnbound ,
I want to work on this matter. Kindly consider my request.

[2022-09-08 18:55] krysal commented on #478
Thanks, @Vidush22! We appreciate some help in checking our environments 😄 I assigned it to you, let us know what you find out!

[2022-09-08 19:34] krysal commented on #674
Welcome, @sahil-R! I assigned the issue to you. Thank you for your interest in improving Openverse.

[2022-09-09 04:43] Akshat977 commented on #504
Hi @sarayourfriend  ,
This issue seems to be a good initiation of my journey towards contribution to FOSS projects.
Can you please assign this to me?

[2022-09-09 04:54] Akshat977 commented on #915
Hi @zackkrida  ,
This issue seems to be a good initiation of my journey towards contribution to FOSS projects.
Can you please assign this to me?

[2022-09-09 04:56] Akshat977 commented on #717
Hi @dhruvkb ,
This issue seems to be a good initiation of my journey towards contribution to FOSS projects.
Can you please assign this to me?

[2022-09-09 06:41] dhruvkb commented on #717
Sure @Akshat977, assigned to you! If you need help getting started, leave a comment here or you can join us in the #openverse channel in the [Making WordPress Slack workspace](https://make.wordpress.org/chat/).

[2022-09-09 12:57] zackkrida commented on #915
Sure @Akshat977!

[2022-09-10 10:28] g-saxena commented on #465
Hey @dhruvkb, @AetherUnbound ,
can i work on this issue, i am comfortable in python and i think ill be able to handle this, can you please assign this to me.

[2022-09-10 10:32] dhruvkb commented on #465
@g-saxena sure! Go ahead, assigned to you.

[2022-09-10 10:39] prikshit-1103 commented on #401
hi @AetherUnbound can i work on this issue, i am comfortable in python and  Django  and i think I will be able to handle this, can you please assign this to me.

[2022-09-10 10:39] Prakharkarsh1 commented on #486
Hii @AetherUnbound I also want to contribute to fix this issue

[2022-09-10 10:41] dhruvkb commented on #401
Thanks @prikshit-1103, feel free to take this up! Assigning to you.

[2022-09-10 10:41] Prakharkarsh1 commented on #552
Hii @dhruvkb I want to contribute to fix this issue

[2022-09-10 10:43] dhruvkb commented on #552
@Prakharkarsh1 please go ahead. Feel free to comment here or alteratively ask in the #openverse channel in the [Making WordPress Slack workspace](https://make.wordpress.org/chat/) if you need help.

[2022-09-10 11:06] sourav25998 commented on #889
Hi @dhruvkb . I would like to work on this issue. Please assign this to me and give me a head start

[2022-09-10 11:08] dhruvkb commented on #889
@sourav25998 this is currently blocked by the RFC request. Could you pick a different issue to work on? Thanks!

[2022-09-10 11:14] sourav25998 commented on #893
Hello @dhruvkb . I would like work on this issue. Please assign me this

[2022-09-10 11:17] sourav25998 commented on #873
Hello. Please assign this issue to me

[2022-09-10 11:17] dhruvkb commented on #893
Hey @sourav25998, thank you for you interest in resolving this but @MustkimKhatik has previosuoy expressed an intention to address this issue. Could you please pick a different one? Thanks!

[2022-09-10 11:20] dhruvkb commented on #873
Sure @sourav25998, assigning the issue to you. If you need help, feel free to comment here or send a message to the #openverse channel in the [Making WordPress Slack workspace](https://make.wordpress.org/chat/).

[2022-09-10 13:37] abhi2296 commented on #843
Hello @sarayourfriend !! I am looking to start my journey in Open Source projects. Could you please assign this issue to me?

[2022-09-10 19:02] Rajarshi1998 commented on #872
I would like to contribute to fix this issue. Thank you!!

[2022-09-10 23:28] dhruvkb commented on #872
@Rajarshi1998 sure, go ahead. I'm assigning this to you. If you need any help getting started, you can leave a comment here or send a message to the #openverse channel in the [Making WordPress Slack workspace](https://make.wordpress.org/chat/).

[2022-09-10 23:33] dhruvkb commented on #486
@Prakharkarsh1 please go ahead! Feel free to comment here if you need any pointers getting started.

[2022-09-10 23:39] dhruvkb commented on #504
Hey @Akshat977, please go ahead. Assigning this to you.

[2022-09-10 23:41] dhruvkb commented on #402
@Vidush22 sure, go ahead. Feel free to ping here on post in the #openverse channel in the [Making WordPress Slack workspace](https://make.wordpress.org/chat/) if you need any help.

[2022-09-11 20:32] #917 closed

[2022-09-14 16:51] krysal opened #919 "Expose Django Admin view for mature audio"
## Problem

Currently to flag an audio track as mature we have to manipulate the DB records using the Django ORM or directly through a psql/pgcli session. We can ease this job by adding a friendly view in the Django Admin.

## Description

Analogous to the "matureimage" views, add the list and creation form for `MatureAudio` objects.

## Implementation

- [ ] 🙋 I would be interested in implementin

[2022-09-15 16:29] krysal opened #921 "`ReadTimeout` raised from general exception catching"
## Sentry link

https://sentry.io/share/issue/89863f561e9146fba39bb084e6310a68/

## Description

Origin in source code:
https://github.com/WordPress/openverse-api/blob/9f8b15773df511b0900e2a0adf7785382abee450/api/catalog/api/views/media_views.py#L206

## Reproduction

Could not reproduce.

[2022-09-15 18:53] Hussain0520 commented on #895
Hey @zackkrida is this issue still open? I would like to contribute to this issue.

[2022-09-15 19:43] zackkrida commented on #895
@Hussain0520 that would be fantastic. Yes, this issue is still open. This would essentially be a 'hotfix' to our API `/thumbs` endpoint that checks when the provider is `smk` and rewrites the image url to use the `512` width instead of the `2048`.

I assume we want to do this work here: https://github.com/WordPress/openverse-api/blob/6b7e963419d4894260934046c5421f9b932de743/api/catalog/api/views/i

[2022-09-16 11:04] vaibhavkoshti7 commented on #761
hi @zackkrida . I would like to work on this issue as my first PR .Can you assign me this.

[2022-09-16 13:29] krysal commented on #761
Hi @vaibhavkoshti7 it's yours!

[2022-09-16 16:22] krysal commented on #849
We're not catching all the exceptions on this code block so reopening.

https://github.com/WordPress/openverse-api/blob/6b7e963419d4894260934046c5421f9b932de743/api/catalog/api/utils/watermark.py#L157-L170

[2022-09-18 13:00] Prakharkarsh1 commented on #552
Yeah sure @dhruvkb thank you!

[2022-09-19 15:11] krysal commented on #522
The First Sentry link stopped working but this other was captured during the weekend:

https://sentry.io/share/issue/da5fd731376045bcb9330eddf25b53a7/

[2022-09-19 15:22] chrisbartoloburlo opened #925 "Wrong swagger specification for the oembed endpoint"
## Description
The swagger specification describes the endpoint `/images/oembed/` as retrieving "embedded content from a specified image URL" whereas in reality it takes image UUID not the url.

## Reproduction
1. One gets a server error when visiting: http://localhost:50280/v1/images/oembed/?format=json&url=https://cdn.stocksnap.io/img-thumbs/960w/91KVXXZQWQ.jpg
2. Instead, to get the embedded co

[2022-09-19 17:02] chrisbartoloburlo commented on #925
Which is the correct description? Should the embedded info be retrieved using the UUID or the

[2022-09-20 02:32] AetherUnbound opened #926 "Unhandled error when database connection is not available"
## Sentry link

(Redacted for security reasons, contact staff if you're interested)

## Description

Presently if the database connection disappears, the `/healthcheck/` endpoint (and others) will raise an `OperationalError`.

We could catch this particular exception and return a 500. This might signal to AWS that the service needs to be replaced though, which wouldn't necessarily correct the unde

[2022-09-20 02:56] AetherUnbound opened #927 "Oembed endpoint raises uncaught error on non-existent identifier"
## Sentry link

https://sentry.io/share/issue/797fb240716d49efaf6f0b762e3484dd/

## Description

When the `/v1/images/oembed/` URL receives an invalid identifier or URL for the `url` query parameter, an `AssertionError` is raised. This should probably return a 4XX error instead.

## Reproduction

1. `just up`
2. Visit: http://localhost:50280/v1/images/oembed/?url=00000000-0000-0000-0000-0000000000

[2022-09-20 04:13] sarayourfriend opened #928 "Configure sentry scrubbing for things like database DNS names"
## Problem

The database DNS name is not technically sensitive due to the current configuration of the production and development databases being secure. However, it's still nice not to have it floating around in Sentry in case some configuration changes that accidentally makes them vulnerable. Exposing the DNS names makes it just that much slightly easier for someone to exploit the vulnerability

[2022-09-20 04:16] sarayourfriend commented on #926
Why would this still raise an unhandled exception?

I'm kind of curious what the suggested approach is for handling these maintenance windows. Have we asked around about how other folks deal with these? There must be some way to reasonable degrade during these times but a DB that isn't available seems like it would thwart a _lot_ of applications' critical paths.

[2022-09-20 04:19] AetherUnbound opened #929 "Allow entire dataset to be downloaded en-masse"
## Description

Presently if users want our entire dataset, they must crawl through all possible searches in hopes of pulling up the results we have. We've discussed this in the past, but it would be ideal to have a bulk download option available for those who would like to use the entire dataset (e.g. iNaturalist's dataset: https://github.com/inaturalist/inaturalist-open-data)

This could be parq

[2022-09-20 05:24] AetherUnbound commented on #926
Sorry I should have clarified, this would still raise an unhandled exception _if the database were unavailable outside the window_, which would leave us with the same Sentry alert being raised in the end.

I imagine that folks who have a mission-critical RDS setup might have database replication/redundancy set up, and they might also have the maintenance windows set up such that they don't overlap

[2022-09-20 07:41] sarayourfriend commented on #926
I see! We'd only use the try/except during the window? :thinking:

I guess to me it seems like this is something that means the service will not work. The healthcheck is right to fail (500 seems reasonable event). Which leads me to think that we should solve this more holistically rather than trying to do a patch over the window of time.

My hunch is also that they have database replicas that have

[2022-09-20 11:15] chrisbartoloburlo opened #931 "Page number set as null for the related images endpoint"
## Description
Wrong page number when requesting related images using the `images/{identifier}/related/` endpoint.

## Reproduction
1. `just up`
2. Run `curl -v \
  --request GET \
  --url 'http://localhost:50280/v1/images/5f9ed3ba-b762-459e-9165-094470dc4805/related/?format=json'`
3. Notice the `page` parameter set as `null`: {"result_count":767,"page_count":1,"page_size":10,"page":null,"results"

[2022-09-20 13:42] krysal commented on #931
I get `page:1` as the result of that request @chrisbartoloburlo. Did you try it in a fresh environment? After doing `just recreate`?

[2022-09-20 13:53] chrisbartoloburlo commented on #931
I executed `just recreate` and tried the request once again. However, I got the same output with `"page"=1`.

[2022-09-20 20:50] AetherUnbound commented on #931
I've set the priority of this issue to "high" because it seems like it may be a bug in the API that should be addressed. If this ends up being difficult to replicate or ends up being an issue that's smaller in scope, we can reduce the priority. Thank you again for raising this Christian!

[2022-09-20 22:25] AetherUnbound opened #933 "Exact match does not function as described in the documentation"
## Description

It would appear that using a quoted search (e.g. `"this is my search"` vs `this is my search`) does not behave as described in the documentation:

Firstly, this documentation doesn't escape the quotes correctly, so `Puccini` is read in as a bash command.

Additionally, the quoted search appears to do nothing to the results. From the search controller code, it looks like we're boost

[2022-09-20 22:26] AetherUnbound commented on #933
I've labeled this as "high" because we've received direct user feedback about it and it is behavior that contradicts our documentation.

[2022-09-21 05:19] AetherUnbound commented on #931
I also see `"page": 1` when I run `curl -s --request GET \ --url 'http://localhost:50280/v1/images/5f9ed3ba-b762-459e-9165-094470dc4805/related/?format=json' | jq ".page"`. @WordPress/openverse-api is anyone else able to reproduce what @chrisbartoloburlo is seeing?

[2022-09-21 05:32] AetherUnbound commented on #925
Great question @chrisbartoloburlo! It looks like both a URL and an identifier are allowed, but the URL is assumed to be an Openverse URL without a trailing slash. See:
* http://localhost:50280/v1/images/oembed/?url=2f3f8563-a52c-473e-ae0b-aac8c9d81c05
* http://localhost:50280/v1/images/oembed/?url=http://localhost:50280/v1/images/2f3f8563-a52c-473e-ae0b-aac8c9d81c05

(both links give the same resu

[2022-09-21 06:36] sarayourfriend commented on #925
This will endlessly frustrate me with how many run-arounds we've had enforcing trailing slashes everywhere, which deviates from the behaviour I see on the other APIs I interact with on a regular basis. There are countless PRs in the API and the frontend to do this, without any real reason as far as I can tell and again, deviating from what so far as I can see is the norm. It'd be nice if we could

[2022-09-21 06:42] chrisbartoloburlo commented on #925
I agree with @sarayourfriend, the pattern `/v1/images/:uuid/oembed` would be more suitable for such a thing. Perhaps, to avoid compatibility issues, we could add the endpoint to `/v1/images/:uuid/oembed` and also leave the other one there, before removing it completely.

[2022-09-21 06:45] sarayourfriend commented on #925
We would not be able to remove it ever from the /v1 prefix, see the discussion in #483 for details about that. If it at least minimally works the way it is now then we can just leave it be but update the documentation on it to recommend using the new and improved endpoint.

Just wanted to clarify that we couldn't ever remove it without breaking our API version contract which shouldn't be done ligh

[2022-09-21 06:47] chrisbartoloburlo commented on #931
@AetherUnbound do you also get `"page":1` when you run `curl -s --request GET \ --url 'https://api.openverse.engineering/v1/images/5f9ed3ba-b762-459e-9165-094470dc4805/related/?format=json' | jq ".page"`?

[2022-09-21 08:30] dhruvkb commented on #895
@Hussain0520 are you working on this ticket? This is a high priority ticket so we would appreciate if you could let us know if you would not be able to work on that.

[2022-09-21 17:42] AetherUnbound commented on #931
Woah! Great find Christian! No, I am also getting `null` on that one 😮 This is the case in both staging and prod:
* https://api-dev.openverse.engineering/v1/images/0aff3595-8168-440b-83ff-7a80b65dea42/related/
* https://api.openverse.engineering/v1/images/0aff3595-8168-440b-83ff-7a80b65dea42/related/

@chrisbartoloburlo if you run `git checkout main && git pull` then `just recreate`, do you see th

[2022-09-21 17:45] AetherUnbound commented on #931
I suspect that this was addressed in #868, which is merged and slated for release this week. We can see if this issue is addressed in production after the deployment.

[2022-09-21 17:49] AetherUnbound commented on #931
Sorry for the multiple posts, I ran `git checkout v2.5.12 && just build && just up` then ran the following:

[code]

So this has been addressed as of v2.5.13, which we'll be deploying this week!

[2022-09-21 20:27] AetherUnbound commented on #931
API [v2.5.13](https://github.com/WordPress/openverse-api/releases/tag/v2.5.13) has been deployed and the `page` is now showing up correctly! I'll go ahead and close this issue, thanks again for raising it Christian 😄

[2022-09-21 20:27] #931 closed

[2022-09-21 20:32] krysal commented on #931
Great find @chrisbartoloburlo! Thanks for communicating this :)

[2022-09-22 00:22] AetherUnbound commented on #933
Update from @obulat:

I was actually able to find a query string which produced different results when quoted too!

- https://api.openverse.engineering/v1/audio/?q=down%20by%20the%20river - produces 94 audio results
- https://api.openverse.engineering/v1/audio/?q=%22down%20by%20the%20river%22 - produces 17 audio results

[2022-09-22 00:40] AetherUnbound commented on #933
@sarayourfriend suggested this may also be the result of [stemming](https://www.elastic.co/guide/en/elasticsearch/reference/current/stemming.html) (and potentially [stop token filtering](https://www.elastic.co/guide/en/elasticsearch/reference/current/analysis-stop-tokenfilter.html)). E.g. even quoted searches for "skiing" would return results on "ski" and "skis". Elasticsearch has a guide on how w

[2022-09-22 10:22] dhruvkb commented on #925
@sarayourfriend it is my understanding that the [oEmbed spec](https://oembed.com/) requires that the oEmbed endpoint take a URL as a query param instead so changing the path to `/image/:uuid/oembed` would be illegal.

[2022-09-22 11:55] dhruvkb opened #935 "Broken link to image landing page in Django admin"
## Description

The functionality for reporting media works fine. But on the API side, there are a lot of parts that are broken and out of date.

- The base URL for reported media items still points to CC.
  https://github.com/WordPress/openverse-api/blob/32189d05db91f8a7587c48017f910bfa9718c6bd/api/catalog/api/models/media.py#L136

- The `ImageReport` model thinks that images are hosted at `/phot

[2022-09-23 00:39] AetherUnbound commented on #926
That sounds reasonable! It's also worth noting that [AWS documentation](https://aws.amazon.com/premiumsupport/knowledge-center/rds-maintenance-window/) says:

Perhaps that's something we could pursue. As for this issue, do you think we should serve a 500 _and also_ reraise the exception? I agree that silencing alerts during the maintenance window isn't that useful because the reality is that our s

[2022-09-23 17:58] #927 closed

[2022-09-26 08:12] clementoriol opened #942 "[User Feedback] Searches page depth"
## Due date: yyyy-mm-dd

## Assigned reviewers
- [ ] TBD
- [ ] TBD

## Description

### Context
Hello ! I'm a consumer of the OpenVerse API.
I've started building a free, open-source app that allows artists and art students to do timed drawing sessions for practice, using only Creative Common images.

I'm using the OpenVerse API to search CC images and fetch their metadata, licence info and creato

[2022-09-26 20:24] zackkrida opened #952 "`just` command to list services and their ports"
## Problem

It can be a bit difficult to grok which services the API `just up` command starts and waht ports they are on.

## Description

Add a new just command which lists running services and their ports. Perhaps something like this output:

[code]

We could run this automatically after `just up` as well to make it really clear to users.

As far as implementing this goes, we'll want to make sur

[2022-09-26 20:28] AetherUnbound commented on #952
It _should_ be easy enough to run `docker-compose config` and then do some light parsing of it in order to get this output!

[2022-09-27 01:25] stacimc opened #954 "Do not unfurl links and media by default in Slack notifications"
## Problem

Recent provider DAG errors have caused notifications containing images to be sent to Slack. For example, a recent data refresh error notification embedded the image that was being processed when the error was encountered. @sarayourfriend pointed out that while these messages have historically been harmless, it's possible that this could happen with NSFW content.

## Description

We hav

[2022-09-27 21:24] sarayourfriend commented on #925
Ah! Had no idea there was a spec/standard we were following here, thanks for pointing that out :slightly_smiling_face:

[2022-09-27 21:28] sarayourfriend commented on #926
I think we'd want to raise a 429 and then log an error? 500 in my understanding is more for when we're like totally out of options, but 429 at least communicates the precise issue (an upstream dependency, the database, was not reachable).

[2022-09-27 21:41] stacimc commented on #952
Triaging as medium as this would be highly useful but is non-blocking.

[2022-09-28 17:29] #954 closed

[2022-09-28 17:55] #887 closed

[2022-09-29 03:59] #919 closed

[2022-09-30 21:32] AetherUnbound commented on #892
Unfortunately, these classes _are_ all presently being used:

### `TenPerDay`

https://github.com/WordPress/openverse-api/blob/96f4996875186915433784eceb35103bb3042a54/api/catalog/api/views/oauth2_views.py#L56

### `OneThousandPerMinute`

https://github.com/WordPress/openverse-api/blob/e9cfd3cc705c573e3f6ab2b632737e94bb82aee0/api/catalog/api/views/audio_views.py#L56

https://github.com/WordPress/o

[2022-10-01 14:41] ritesh-pandey commented on #915
@Akshat977 Are you still working on this?

[2022-10-02 13:11] MustkimKhatik commented on #893
Hey @dhruvkb, we gotta change the landing URL as it broken [for this](https://api-dev.openverse.engineering/v1/images/aaabb3e4-cbd9-4a55-b16f-634fd9d91483/thumb/) but at the same time the error code should be 424 instead of 404. so can you please help me figuring out the current scenario here?

[2022-10-03 17:33] krysal opened #965 "Replace the old CC `BASE_URL` of media reports"
## Description

Currently, the media reports appear in the Django Admin with a URL from Creative Commons, meaning that when you click on the link it will count as a referrer from the old CC Search site, which is not true. The `BASE_URL` should be `https://wordpress.org/openverse/`.

This can be fixed by editing the following line.

https://github.com/WordPress/openverse-api/blob/21405cc4a4ea2f8dca

[2022-10-04 10:40] swapnalshahil commented on #965
Hi @krysal BASE_URL should be replaced by which URL? Clicking on the BASE_URL appears as a referrer `https://wordpress.org/openverse/?referrer=creativecommons.org` here.

[2022-10-04 11:03] swapnalshahil commented on #935
@dhruvkb where should the base URL for the reported media point?

[2022-10-04 13:29] krysal commented on #965
@swapnalshahil That's correct! Sorry I forgot to mention the new URL, https://wordpress.org/openverse/ is indeed the new home of Openverse 😄 Do you want to try to solve this issue? I can assign it to you.

[2022-10-04 13:36] swapnalshahil commented on #965
@krysal Yes!

[2022-10-04 17:25] #915 closed

[2022-10-05 02:22] sarayourfriend opened #971 "Add versions to Pipfile"
## Problem

Right now most of our Pipfile entries use `*`. This means pipenv will always try to lock to the latest version of a dependency. It also means that if you make any change to the Pipfile pipenv will lock all dependencies to the latest version when it re-locks. This means we cannot do atomic dependency upgrades and causes unrelated changes to introduce potentially breaking version changes

[2022-10-05 19:03] #965 closed

[2022-10-05 21:45] #849 closed

[2022-10-06 22:13] krysal commented on #587
Done in #936.

[2022-10-06 22:13] #587 closed

[2022-10-06 23:34] AetherUnbound opened #973 "Various improvements to CONTRIBUTING.md"
## Description

While looking at our [`CONTRIBUTING.md` file](https://github.com/WordPress/openverse-api/blob/429fd45916c9e064ccea772afc184466304bce4e/CONTRIBUTING.md), I noticed a number of improvements that could be made:

  1. We should link to the  CONTRIBUTING.md  file in our main repo, as it has a lot of depth to it:
  https://github.com/WordPress/openverse/blob/0b5e24bd325da7b75db9484a268d7

[2022-10-07 19:24] AbhiYHub commented on #843
Hello @sarayourfriend and @dhruvkb, Apologies for the delay. I have solved the issue and also ran the test cases. All the test cases have passed successfully. I would request if you can reassign me the task so that I could submit the solution.

[2022-10-07 19:25] dhruvkb commented on #843
@AbhiYHub please push your solution as a PR. Thanks!

[2022-10-07 23:21] AetherUnbound opened #975 "Rename database from "openledger""
## Description

We currently have a number of references to `openledger` in this codebase, mostly in reference to the Postgres database name. Changing the database name would be a nontrivial effort, but openledger is a historic term that isn't descriptive, conflates with the catalog's current database name, and isn't used anywhere else.

## Additional context

Similar to https://github.com/WordPre

[2022-10-09 20:31] #895 closed

[2022-10-11 14:25] MallikharjunaTeja commented on #929
i want to work on this feature @AetherUnbound

[2022-10-11 22:42] #843 closed

[2022-10-13 07:21] obulat opened #978 "An attempt to get `accuracy` key results in SystemExit"
## Sentry link

https://sentry.io/share/issue/41c5ce98e9184ad192e43814b3f23abf/

## Description

`media_serializer` calls `super.to_representation()`. For `tags` field, when the `tag` does not contain `accuracy`, it can raise an error that breaks the app and causes a `SystemExit`.

I am not sure why it would look for `accuracy` in tags even though `accuracy` is set as not required:
[code]

## Repr

[2022-10-14 22:21] AetherUnbound opened #979 "Explore the use of Photon as a thumbnail service"
## Description

We are presently using a version of [`imaginary`](https://github.com/h2non/imaginary) with a [custom build process for addressing a few open issues](https://github.com/WordPress/openverse-api/blob/87847eb0da81c3fb66a7dc7361e921fd02944f76/.github/workflows/build_imaginary.yml). The build process for this service is infrequent, but can take [several hours to run](https://github.com/W

[2022-10-17 18:55] sahil-R commented on #674
@krysal @dhruvkb  hey, I have cloned the repo and trying to build the server but pipenv isn't working and for some reason the curl as well for registration, I have edited the code but want to test it, the slack channel is also not working can I please get some heads help

[2022-10-17 20:22] dhruvkb commented on #674
Hi @sahil-R, to build the server you do not need Pipenv. You can use the Docker-based development setup. Follow the steps in our [Quickstart guide](https://wordpress.github.io/openverse-api/guides/quickstart.html) and comment here if you face any issues.

Can you elaborate on this? To the best of my knowledge the Slack channel is very active. If you post there, you will definitely receive a respon

[2022-10-18 05:40] sahil-R commented on #674
Hey  Dhruv,
I tried to get the verification code for the slack account but the email is
not reaching my inbox, I have checked my spam emails as well but without
confirmation, i cannot get into the slack account,can you please send me
the invitation,i have a few more things to talk as well like the pipenv is
not installing the pipfile,and other stuff regarding the installation for
general API and s

[2022-10-18 06:07] dhruvkb commented on #921
This error is now up to 27k in the last 30 days and 1.9k in the last 24 hours.

The current timeout of 10s might be insufficient for some fairly large images to load. Increasing it might reduce the number of error events but bringing it down to zero seems infeasible unless we reliably have low-size alternatives for all large images in the catalog.

[2022-10-18 06:26] dhruvkb commented on #674
@sahil-R it's not possible to invite you to the Making WordPress Slack workspace. You'll have to sign up for it by [creating a WordPress.org account](https://login.wordpress.org/register) first and then following the instructions to join Slack on [this page](https://make.wordpress.org/chat/).

[2022-10-18 11:37] sahil-R commented on #674
Thank you very much,i'll get in touch.

[2022-10-18 18:01] AetherUnbound commented on #921
It would be really nice to have some data on this to see which providers are contributing the most to these timeouts. Because the URLs stored in the sentry event are our thumbnail links, I'm not sure that's something we'd be able to extract from Sentry. Do you think we could add some logic to store a mapping of TLD -> count in redis? We could increment it each time the `ReadTimeout` is hit, then t

[2022-10-18 19:50] dhruvkb commented on #978
Since this error
- occurred only once in the last month
- did not reappear in the five days since the first incident
- shows an incorrect traceback where the uncaught exception has a `catch` clause
- cannot be reproduced by making the same request that caused it in the first place

I'm lowering the priority to low. If it still doesn't appear in the future, we'll close it.

[2022-10-20 01:17] sarayourfriend commented on #979
I chatted about this with Zack today 1-on-1. Here are some things that came to mind during that discussion between the two of us:

1. If we use Photon we should continue to proxy it via the API thumbnails endpoint. Essentially we would be swapping out the request to the imaginary service to Photon. While this would necessarily add network latency by introducing an "extra hop", it would (a) maintai

[2022-10-21 18:31] AetherUnbound commented on #979
These are really great considerations Sara, thank you for sharing. Your points about proxying and endpoint configuration are well thought out. I was thinking we'd set the responses up that way but I hadn't had any particularly strong reasons as to why; these points solidify that in my mind!

We switched to imaginary without doing this performance analysis IIRC. I think it's a good idea, but I don'

[2022-10-24 06:33] sarayourfriend opened #986 "Remove SourceLogo class"
## Problem

It doesn't appear that we use this data in production... I checked a handful of providers (including big ones like Wikimedia and other smaller ones) and none had an image uploaded. Currently, the uploaded SourceLogo objects get stored directly on disk and get wiped out on each deployment :scream: That leads me further to believe that these are not used or depended on by anyone, as they

[2022-10-24 22:16] krysal commented on #978
I ignored it in Sentry until it appears 10 times more. Reopen in that case.

[2022-10-24 22:16] #978 closed

[2022-10-24 23:48] AetherUnbound commented on #986
Oh, that's a great find Krystle! I could also imagine that we might just store a URL to a logo if we wanted this in the future, rather than storing the URLs ourselves 😮 Either way, I think we'd be clear to remove it 🙂

[2022-10-25 23:45] AetherUnbound commented on #929
Hi @MallikharjunaTeja! Thanks for offering your assistance 🙂 Before work proceeds on this, we need a plan fleshed out for what these bulk downloads would look like. How will the files be generated from our system? Would there need to be coordination with the [Openverse Catalog](https://github.com/WordPress/openverse-catalog), since we would likely need a scheduled DAG in order to run this. What fi

[2022-10-26 00:23] #986 closed

[2022-10-26 13:57] dhruvkb commented on #921
Unassigning myself because #982 has been merged and we don't have much to do but wait and see the cache for which domains are causing the most timeouts.

[2022-10-28 06:31] #971 closed

[2022-10-28 20:19] zackkrida commented on #979
Thanks for summarizing our chat, Sara. I definitely think it would be great for us to implement and test Photon, and ultimately switch to it if the performance analysis looks promising.

[2022-10-29 14:42] Yash-Pratapwar commented on #973
Hello @AetherUnbound I'm interested in contributing to this issue! Please tell me how to get started.

[2022-10-29 15:04] Yash-Pratapwar opened #992 "Link for automated tests file broken in DOCUMENTATION_GUIDELINES.md"
## Description
I clicked the [link](https://github.com/WordPress/openverse-api/blob/main/DOCUMENTATION_GUIDELINES.md#:~:text=Make%20sure%20the%20updates%20passed%20the%20automated%20tests%20in%20this%20file) for` automated tests file` in `DOCUMENTATION_GUIDELINES.md` and instead of going to the appropriate location is says `The 'WordPress/openverse-api' repository doesn't contain the '.github/work

[2022-10-31 16:20] AetherUnbound commented on #973
Hi @Yash-Pratapwar! We'd love to have you help out with this 😄 If you're looking for how to contribute in general, you can take a look at the [contributing guide in our main repo](https://github.com/WordPress/openverse/blob/0b5e24bd325da7b75db9484a268d7c8d197ae920/CONTRIBUTING.md)! That should have all the instructions for getting started.

For this particular issue, all of the changes we'd like m

[2022-10-31 16:21] AetherUnbound commented on #992
Great find! This should probably link to our CI/CD file instead now: https://github.com/WordPress/openverse-api/blob/main/.github/workflows/ci_cd.yml

[2022-10-31 22:22] krysal opened #993 "Add link to the live media object in Django Admin's report details page"
## Problem

Currently, to see the actual media reported you need to build the URL manually with the object identifier. This is cumbersome and less than ideal. Look at an example of the page.

<img width="1142" alt="CleanShot 2022-10-03 at 12 33 06@2x" src="https://user-images.githubusercontent.com/9145885/199120764-f2b49e1a-8e7c-4de9-86db-e5886c8d9002.png">

## Description

To make easy the review

[2022-11-01 14:29] Yash-Pratapwar commented on #992
@AetherUnbound I will start working on it thanks!

[2022-11-01 14:33] Yash-Pratapwar commented on #992
@AetherUnbound I had one question about the contribution process, do I need to set-up anything or should I directly fork > create a new branch > do the changes > push it > create a PR?

[2022-11-01 14:39] Yash-Pratapwar commented on #973
Thanks @AetherUnbound I have gone through the contributing guide, I had a doubt, whether WSL is required for resolving this issue?

[2022-11-01 15:49] AetherUnbound commented on #992
That's correct! You can see this from [step 7 on in our contributing guide](https://github.com/WordPress/openverse/blob/0b5e24bd325da7b75db9484a268d7c8d197ae920/CONTRIBUTING.md#%EF%B8%8F-general-set-up). You should only need to fork the repo once, but every new PR will require a new branch.

[2022-11-01 15:50] AetherUnbound commented on #973
If you're using Windows for your primary development machine, then it's likely that you will need to use WSL in order to run the linting and testing steps. If you're making changes to documentation only, then you may not need to set WSL up to make the changes 🙂 If you're not on Windows (most of the maintainers use OSX or Linux) then you're already set!

[2022-11-02 07:42] Yash-Pratapwar commented on #973
Thanks for clearing that up! Will start working on it.

On Tue, Nov 1, 2022, 21:20 Madison Swain-Bowden ***@***.***>
wrote:

[2022-11-02 07:48] Yash-Pratapwar commented on #992
Thanks! Will follow these instructions.

On Tue, Nov 1, 2022, 21:19 Madison Swain-Bowden ***@***.***>
wrote:

[2022-11-03 00:17] sarayourfriend commented on #486
I took a peek at this today and moving to ASGI for our application would be mostly trivial (I think). The bulk of the work would be to remove grequests and replacing it with something like httpx or aiohttp (plus maybe AnyIO to make "grouping" the requests easier, if the libraries themselves do not natively support it).

Updating unit tests would probably take up most of the time spent on this. Due

[2022-11-03 00:20] sarayourfriend commented on #486
Here is a small diff that moves the app to ASGI:

[code]

I've done no performance checking on this, but adding `async` to view routes and switching to the async base classes (if we need to do that?) seems like it would be the only bit left to make it work fully async. ORM methods might need to be changed as well...

It doesn't look like we're using any middleware that causes Django to have to ada

[2022-11-07 14:24] dhruvkb commented on #486
@sarayourfriend would switching to ASGI mean that we need to change the server from Gunicorn to [something else](https://asgi.readthedocs.io/en/latest/implementations.html#servers)?

[2022-11-07 22:57] sarayourfriend commented on #486
Yes, we would switch the production server to hypercorn, uvcorn, etc. I've used hypercorn in the past and liked it, it has almost the same api as gunicorn.

[2022-11-08 00:03] sarayourfriend opened #1005 "Thumbnails connection reset"
## Sentry link

https://sentry.io/share/issue/47d48415f4ac459189927c49a081321f/

## Description

It looks like the requests to the thumbnails service sometimes resets. It'd be nice if we could set up logging or metrics in the thumbnails service to see if something is going on there.

Alternatively, we could try to switch to Photon as discussed in #979.

## Reproduction

Not sure how to reproduce t

[2022-11-10 05:18] sarayourfriend commented on #486
It completely slipped by me that we would need DRF to also support async views for migrating to async Django to be possible. [DRF still does not support async](https://github.com/encode/django-rest-framework/pull/8617) and it seems like it might not natively support it for a while (though a package could do the job).

The two alternatives listed by grequests (and mentioned in the issue description

[2022-11-14 08:11] Yash-Pratapwar commented on #992
@AetherUnbound where can I find the instructions to set up the environment?

[2022-11-14 20:56] AetherUnbound commented on #992
Hi @Yash-Pratapwar, please see the contributing guide for this repo: https://github.com/WordPress/openverse-api/blob/main/CONTRIBUTING.md. That document does need some updating for use with our command runner `just`, I'll make an issue for it.

[2022-11-15 02:07] AetherUnbound commented on #973
I think we should also replace any commands listed with `just` recipes where available, e.g. `just api-test` and `just ing-testlocal`.

[2022-11-15 02:07] AetherUnbound commented on #992
Ah, I found it 😄 #973 - and you've also offered to help there as well!

[2022-11-15 02:37] sarayourfriend commented on #486
I do not think it is worth the fuss to do number 2 right now. I've tried for a bit to get the second option working and it is going to take quite a bit of work from us to convert things to async with DRF.

Trying `async_to_sync` is probably the best approach here. We will want to implement some timings for the API first, however. Adding timeit around the `validate_images` function and logging the

[2022-11-15 07:02] Yash-Pratapwar commented on #992
Thanks, I will go through it 👍🏽

On Tue, Nov 15, 2022, 07:37 Madison Swain-Bowden ***@***.***>
wrote:

[2022-11-15 07:02] Yash-Pratapwar commented on #973
Yes, noted.

[2022-11-15 07:57] Yash-Pratapwar commented on #973
@AetherUnbound after removing the [line 21](https://github.com/WordPress/openverse-api/blob/main/CONTRIBUTING.md?plain=1#L21) what should I add there instead? I have added a reference to DOCUMENTATION_GUIDELINES.md in that same section, is it ok or should I refrence it in some other section?

[2022-11-15 15:22] #935 closed

[2022-11-15 18:02] AetherUnbound commented on #973
I think you could recommend asking a question in the Make WP Slack, similar to what is in the catalog's contributing doc: https://github.com/WordPress/openverse-catalog/commit/3217ed5ecf3f9babeb96929e8883110e5da1c199#diff-eca12c0a30e25b4b46522ebf89465a03ba72a03f540796c979137931d8f92055R23

[2022-11-15 18:06] #992 closed

[2022-11-16 08:20] Yash-Pratapwar commented on #973
@AetherUnbound In the first point you said 'main repo' did you mean [this repo (Openverse)](https://github.com/WordPress/openverse)?

[2022-11-16 19:58] AetherUnbound commented on #973
That's correct!

[2022-11-17 02:46] #821 closed

[2022-11-17 04:14] Yash-Pratapwar commented on #973
@AetherUnbound Ok, so for that I would need to fork the Openverse repo then, I did the other 3 tasks for which I will create a PR.

[2022-11-17 04:38] dhruvkb opened #1011 "Upgrade to Python 3.11"
## Problem
We should upgrade the Python version used in the project to Python 3.11.

## Description
Python 3.11 has some nice [new features and improvements](https://docs.python.org/3/whatsnew/3.11.html) so upgrading makes sense. It's also 10-60% faster (although our mileage may vary).

Changes will be needed in the following areas:
- GitHub actions: `actions/setup-python`
- `Dockerfile`
- `Pipfil

[2022-11-17 07:09] dhruvkb commented on #674
Now that you've set up the local stack @sahil-R, the next step would be to remove the `required` prop from the serializers as mentioned in the original issue and open a PR with your changes.

[2022-11-18 14:49] dhruvkb commented on #979
I was just reading up a bit about Photon and it seems like it also supports WEBP conversion  like `imaginary` so that's another point in its favour.

[2022-11-21 02:54] sarayourfriend commented on #775
@WordPress/openverse-api Does this issue still make sense to implement as it reads today? I'm wondering if we still find value in this particular approach or if we'd want to do something more like labelling specific queries and making it possible to read specific query type times and such. Given we've already identified the most time-intensive parts of the search controller (dead link filtering an

[2022-11-22 15:22] #973 closed

[2022-11-22 19:50] krysal commented on #775
I think we can lower this issue's priority and look into [Kibana](https://www.elastic.co/kibana/), which should have everything built-in to see what is happening inside Elastichsearch. The additional logging around dead link filtering and pagination sounds good to have in the short term as well.

[2022-11-24 01:53] sarayourfriend commented on #775
Can you elaborate what you mean by this? I'm not familiar with using Kibana in this way. Is there a documentation I could read about it? Is Kibana equipped to do meta-analytics of our ES cluster?

[2022-11-29 22:42] #933 closed

[2022-11-30 02:26] zackkrida commented on #925
@dhruvkb was this closed by https://github.com/WordPress/openverse-api/pull/934 or was that only _related?_

[2022-11-30 02:27] zackkrida commented on #483
@sarayourfriend your reasoning in your August 9th update is sound. Should we close this issue now? Please do if so.

[2022-11-30 03:12] AetherUnbound commented on #196
One mitigation approach we could employ here ([based on this discussion from the Make WP Slack](https://wordpress.slack.com/archives/C02012JB00N/p1669749455402879?thread_ts=1669738284.048119&cid=C02012JB00N)):

For cases where the number of results on a page is less than the page size, and the page itself is less than the expected page count, adjust the `result_count` and `page_count` values to re

[2022-11-30 04:40] sarayourfriend commented on #483
@zackkrida I'm not sure what the bugs are with this endpoint and was never closely keeping track of them. I'll close this issue but I don't know if the bugs are resolved. @dhruvkb could you confirm that all the bugs for this endpoint are documented in different issues, I seem to recall you being involved in a lot of the discussions about these.

[2022-11-30 04:40] #483 closed

[2022-11-30 04:47] dhruvkb commented on #925
This can be closed with the following note:

The oEmbed endpoint takes the **URL**
- for an image on Openverse
- with the image identifier UUID in it
- ending with a trailing slash

Eg:

[code]

Since this is implemented flexibly, it will also work with some other inputs but those are not standard as per the oEmbed spec, not officially supported and not guaranteed to work.

- ```https://api.openve

[2022-11-30 04:47] #925 closed

[2022-11-30 11:07] dhruvkb commented on #483
The issues for the endpoint (#827 and #849) were closed by various PRs (#903 and #932) so afaik, the problems with the endpoint have actually been resolved.